@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #a55eea;
}

.App__next{
	font-size: 18px;
	font-weight: 600;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    cursor: pointer;
	background-color: #26de81;
}

.App__next:hover{
	background-color:#20bf6b;
}

.App__answer{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
}